/*********************************************************/
/* <blink>again
 * © 2015 BOXdev.com
 * Do you miss <blink> as much as I do? Yeah, I thought so.
 * https://github.com/wreckingadm/blinkagain
 *
 * Copyright 2015 BOXdev.com, wreckreation.org
/*********************************************************/


/*********************************************************/
/* Globals
/*********************************************************/
body {
   background-color: #fff;
   font-size: 1.2em;
   font-family: 'Lora', serif;
   font-style: italic;
   color: #222;
   margin: 40px;
}